@charset "utf-8";
/* CSS Document */

body {
	font-family: verdana, helvetica;
	font-weight: bold;	
}

nav {
	width: 155px;
}

.titulo {
	border: 1px solid #d7d7d7;
	font-size: 8pt;
	font-weight: bold;
	background-color: #e0e0e0;
	color: #000;
	padding: 4px;	
}

.cuerpo {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}

.cuerpo ul{
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0pt;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

.cuerpo li{
	border-bottom: 1px solid #d7d7d7;   
	border-left: 1px solid #d7d7d7;   
	border-right: 1px solid #d7d7d7;   
	padding: 1px 0 2px 4px;
	font-size: 8pt;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-color: #ffffcc;
}

.cuerpo a{
	text-decoration: none;
}
